.lst-kix_xc4ct0m9r8w9-5>li:before {
	content: "\0025a0  "
}

.lst-kix_xc4ct0m9r8w9-4>li:before {
	content: "\0025cb  "
}

.lst-kix_xc4ct0m9r8w9-6>li:before {
	content: "\0025cf  "
}

.lst-kix_xc4ct0m9r8w9-3>li:before {
	content: "\0025cf  "
}

.lst-kix_xc4ct0m9r8w9-7>li:before {
	content: "\0025cb  "
}

.lst-kix_xc4ct0m9r8w9-1>li:before {
	content: "\0025cb  "
}

.lst-kix_xc4ct0m9r8w9-0>li:before {
	content: "\0025cf  "
}

.lst-kix_xc4ct0m9r8w9-2>li:before {
	content: "\0025a0  "
}

.lst-kix_xc4ct0m9r8w9-8>li:before {
	content: "\0025a0  "
}

ul.lst-kix_xc4ct0m9r8w9-8 {
	list-style-type: none
}

ul.lst-kix_xc4ct0m9r8w9-7 {
	list-style-type: none
}

ul.lst-kix_xc4ct0m9r8w9-4 {
	list-style-type: none
}

ul.lst-kix_xc4ct0m9r8w9-3 {
	list-style-type: none
}

ul.lst-kix_xc4ct0m9r8w9-6 {
	list-style-type: none
}

ul.lst-kix_xc4ct0m9r8w9-5 {
	list-style-type: none
}

ul.lst-kix_xc4ct0m9r8w9-0 {
	list-style-type: none
}

ul.lst-kix_xc4ct0m9r8w9-2 {
	list-style-type: none
}

ul.lst-kix_xc4ct0m9r8w9-1 {
	list-style-type: none
}

ol {
	margin: 0;
	padding: 0
}

table td,
table th {
	padding: 0
}

.c28 {
	border-right-style: solid;
	padding: 2pt 2pt 2pt 2pt;
	border-bottom-color: #cccccc;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #cccccc;
	vertical-align: top;
	border-right-color: #cccccc;
	border-left-width: 1pt;
	border-top-style: solid;
	background-color: #f3f3f3;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 66.8pt;
	border-top-color: #cccccc;
	border-bottom-style: solid
}

.c11 {
	border-right-style: solid;
	padding: 2pt 2pt 2pt 2pt;
	border-bottom-color: #cccccc;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #cccccc;
	vertical-align: top;
	border-right-color: #cccccc;
	border-left-width: 1pt;
	border-top-style: solid;
	background-color: #d9d9d9;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 60pt;
	border-top-color: #cccccc;
	border-bottom-style: solid
}

.c20 {
	border-right-style: solid;
	padding: 2pt 2pt 2pt 2pt;
	border-bottom-color: #cccccc;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #cccccc;
	vertical-align: top;
	border-right-color: #cccccc;
	border-left-width: 1pt;
	border-top-style: solid;
	background-color: #f3f3f3;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 120.8pt;
	border-top-color: #cccccc;
	border-bottom-style: solid
}

.c15 {
	border-right-style: solid;
	padding: 2pt 2pt 2pt 2pt;
	border-bottom-color: #cccccc;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #cccccc;
	vertical-align: top;
	border-right-color: #cccccc;
	border-left-width: 1pt;
	border-top-style: solid;
	background-color: #f3f3f3;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 65.2pt;
	border-top-color: #cccccc;
	border-bottom-style: solid
}

.c34 {
	border-right-style: solid;
	padding: 2pt 2pt 2pt 2pt;
	border-bottom-color: #cccccc;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #cccccc;
	vertical-align: bottom;
	border-right-color: #cccccc;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 147pt;
	border-top-color: #cccccc;
	border-bottom-style: solid
}

.c24 {
	border-right-style: solid;
	padding: 2pt 2pt 2pt 2pt;
	border-bottom-color: #cccccc;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #cccccc;
	vertical-align: top;
	border-right-color: #cccccc;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 60pt;
	border-top-color: #cccccc;
	border-bottom-style: solid
}

.c47 {
	border-right-style: solid;
	padding: 5pt 5pt 5pt 5pt;
	border-bottom-color: #cccccc;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #cccccc;
	vertical-align: top;
	border-right-color: #cccccc;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 66.8pt;
	border-top-color: #cccccc;
	border-bottom-style: solid
}

.c6 {
	border-right-style: solid;
	padding: 2pt 2pt 2pt 2pt;
	border-bottom-color: #cccccc;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #cccccc;
	vertical-align: top;
	border-right-color: #cccccc;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 147pt;
	border-top-color: #cccccc;
	border-bottom-style: solid
}

.c8 {
	border-right-style: solid;
	padding: 5pt 5pt 5pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 0pt;
	border-right-width: 0pt;
	border-left-color: #000000;
	vertical-align: top;
	border-right-color: #000000;
	border-left-width: 0pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 0pt;
	width: 462.8pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c38 {
	border-right-style: solid;
	padding: 2pt 2pt 2pt 2pt;
	border-bottom-color: #cccccc;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #cccccc;
	vertical-align: bottom;
	border-right-color: #cccccc;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 60pt;
	border-top-color: #cccccc;
	border-bottom-style: solid
}

.c58 {
	border-right-style: solid;
	padding: 2pt 2pt 2pt 2pt;
	border-bottom-color: #cccccc;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #cccccc;
	vertical-align: top;
	border-right-color: #cccccc;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 207pt;
	border-top-color: #cccccc;
	border-bottom-style: solid
}

.c55 {
	border-right-style: solid;
	padding: 2pt 2pt 2pt 2pt;
	border-bottom-color: #cccccc;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #cccccc;
	vertical-align: bottom;
	border-right-color: #cccccc;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 54pt;
	border-top-color: #cccccc;
	border-bottom-style: solid
}

.c39 {
	border-right-style: solid;
	padding: 2pt 2pt 2pt 2pt;
	border-bottom-color: #cccccc;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #cccccc;
	vertical-align: top;
	border-right-color: #cccccc;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 54pt;
	border-top-color: #cccccc;
	border-bottom-style: solid
}

.c63 {
	border-right-style: solid;
	padding: 2pt 2pt 2pt 2pt;
	border-bottom-color: #cccccc;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #cccccc;
	vertical-align: top;
	border-right-color: #cccccc;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 65.2pt;
	border-top-color: #cccccc;
	border-bottom-style: solid
}

.c60 {
	border-right-style: solid;
	padding: 5pt 5pt 5pt 5pt;
	border-bottom-color: #cccccc;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #cccccc;
	vertical-align: top;
	border-right-color: #cccccc;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 147pt;
	border-top-color: #cccccc;
	border-bottom-style: solid
}

.c35 {
	border-right-style: solid;
	padding: 2pt 2pt 2pt 2pt;
	border-bottom-color: #cccccc;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #cccccc;
	vertical-align: top;
	border-right-color: #cccccc;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 66.8pt;
	border-top-color: #cccccc;
	border-bottom-style: solid
}

.c5 {
	border-right-style: solid;
	padding: 5pt 5pt 5pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 0pt;
	border-right-width: 0pt;
	border-left-color: #000000;
	vertical-align: top;
	border-right-color: #000000;
	border-left-width: 0pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 0pt;
	width: 5.2pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c26 {
	border-right-style: solid;
	padding: 2pt 2pt 2pt 2pt;
	border-bottom-color: #cccccc;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #cccccc;
	vertical-align: bottom;
	border-right-color: #cccccc;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 66.8pt;
	border-top-color: #cccccc;
	border-bottom-style: solid
}

.c40 {
	border-right-style: solid;
	padding: 2pt 2pt 2pt 2pt;
	border-bottom-color: #cccccc;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #cccccc;
	vertical-align: bottom;
	border-right-color: #cccccc;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 65.2pt;
	border-top-color: #cccccc;
	border-bottom-style: solid
}

.c0 {
	-webkit-text-decoration-skip: none;
	color: #1155cc;
	font-weight: 400;
	text-decoration: underline;
	vertical-align: baseline;
	text-decoration-skip-ink: none;
	font-size: 11pt;
	font-family: "Arial";
	font-style: normal
}

.c16 {
	padding-top: 20pt;
	padding-bottom: 6pt;
	line-height: 1.15;
	page-break-after: avoid;
	orphans: 2;
	widows: 2;
	text-align: left
}

.c27 {
	padding-top: 0pt;
	padding-bottom: 3pt;
	line-height: 1.15;
	page-break-after: avoid;
	orphans: 2;
	widows: 2;
	text-align: left
}

.c1 {
	color: #000000;
	font-weight: 400;
	text-decoration: none;
	vertical-align: baseline;
	font-size: 11pt;
	font-family: "Arial";
	font-style: normal
}

.c52 {
	color: #000000;
	font-weight: 700;
	text-decoration: none;
	vertical-align: baseline;
	font-size: 11pt;
	font-family: "Arial";
	font-style: normal
}

.c12 {
	color: #000000;
	font-weight: 400;
	text-decoration: none;
	vertical-align: baseline;
	font-size: 10pt;
	font-family: "Arial";
	font-style: normal
}

.c33 {
	color: #ff9900;
	font-weight: 400;
	text-decoration: none;
	vertical-align: baseline;
	font-size: 16pt;
	font-family: "Arial";
	font-style: normal
}

.c18 {
	color: #232323;
	font-weight: 400;
	text-decoration: none;
	vertical-align: baseline;
	font-size: 12pt;
	font-family: "Arial";
	font-style: normal
}

.c66 {
	color: #ff9900;
	font-weight: 400;
	text-decoration: none;
	vertical-align: baseline;
	font-size: 12pt;
	font-family: "Arial";
	font-style: normal
}

.c64 {
	padding-top: 0pt;
	padding-bottom: 3pt;
	line-height: 1.0;
	page-break-after: avoid;
	orphans: 2;
	widows: 2;
	text-align: center
}

.c19 {
	padding-top: 18pt;
	padding-bottom: 6pt;
	line-height: 1.15;
	page-break-after: avoid;
	orphans: 2;
	widows: 2;
	text-align: left
}

.c44 {
	color: #000000;
	font-weight: 400;
	text-decoration: none;
	vertical-align: baseline;
	font-size: 26pt;
	font-family: "Arial";
	font-style: normal
}

.c4 {
	padding-top: 0pt;
	padding-bottom: 0pt;
	line-height: 1.15;
	orphans: 2;
	widows: 2;
	text-align: left;
	height: 11pt
}

.c43 {
	margin-left: 18pt;
	padding-top: 3pt;
	padding-bottom: 0pt;
	line-height: 1.0;
	orphans: 2;
	widows: 2;
	text-align: left
}

.c48 {
	color: #ff9900;
	font-weight: 400;
	text-decoration: none;
	vertical-align: baseline;
	font-size: 26pt;
	font-family: "Arial";
	font-style: normal
}

.c61 {
	color: #000000;
	font-weight: 400;
	text-decoration: none;
	vertical-align: baseline;
	font-size: 8pt;
	font-family: "Arial";
	font-style: normal
}

.c50 {
	color: #ff9900;
	font-weight: 400;
	text-decoration: none;
	vertical-align: baseline;
	font-size: 20pt;
	font-family: "Arial";
	font-style: normal
}

.c41 {
	color: #ff9900;
	font-weight: 400;
	text-decoration: none;
	vertical-align: baseline;
	font-size: 11pt;
	font-family: "Arial";
	font-style: normal
}

.c3 {
	padding-top: 0pt;
	padding-bottom: 0pt;
	line-height: 1.15;
	orphans: 2;
	widows: 2;
	text-align: right
}

.c54 {
	padding-top: 10pt;
	padding-bottom: 4pt;
	line-height: 1.0;
	orphans: 2;
	widows: 2;
	text-align: left
}

.c9 {
	padding-top: 0pt;
	padding-bottom: 0pt;
	line-height: 1.15;
	orphans: 2;
	widows: 2;
	text-align: left
}

.c7 {
	padding-top: 0pt;
	padding-bottom: 0pt;
	line-height: 1.0;
	orphans: 2;
	widows: 2;
	text-align: right
}

.c17 {
	padding-top: 10pt;
	padding-bottom: 0pt;
	line-height: 1.0;
	orphans: 2;
	widows: 2;
	text-align: left
}

.c74 {
	padding-top: 4pt;
	padding-bottom: 0pt;
	line-height: 1.0;
	orphans: 2;
	widows: 2;
	text-align: left
}

.c10 {
	padding-top: 0pt;
	padding-bottom: 0pt;
	line-height: 1.0;
	orphans: 2;
	widows: 2;
	text-align: left
}

.c2 {
	padding-top: 0pt;
	padding-bottom: 0pt;
	line-height: 1.1500022727272727;
	orphans: 2;
	widows: 2;
	text-align: left
}

.c59 {
	color: #232323;
	text-decoration: none;
	vertical-align: baseline;
	font-size: 12pt;
	font-family: "Arial";
	font-style: normal
}

.c69 {
	color: #ff9900;
	text-decoration: none;
	vertical-align: baseline;
	font-size: 10pt;
	font-family: "Arial";
	font-style: normal
}

.c67 {
	font-weight: 400;
	text-decoration: none;
	vertical-align: baseline;
	font-family: "Arial";
	font-style: normal
}

.c23 {
	padding-top: 0pt;
	padding-bottom: 0pt;
	line-height: 1.15;
	text-align: left;
	height: 11pt
}

.c37 {
	padding-top: 0pt;
	padding-bottom: 0pt;
	line-height: 1.15;
	text-align: left
}

.c53 {
	text-decoration-skip-ink: none;
	-webkit-text-decoration-skip: none;
	color: #1155cc;
	text-decoration: underline
}

.c22 {
	padding-top: 0pt;
	padding-bottom: 0pt;
	line-height: 1.15;
	text-align: right
}

.c21 {
	border-spacing: 0;
	border-collapse: collapse;
	margin-right: auto
}

.c51 {
	padding-top: 0pt;
	padding-bottom: 0pt;
	line-height: 1.15;
	text-align: center
}

.c32 {
	padding-top: 0pt;
	padding-bottom: 0pt;
	line-height: 1.0;
	text-align: right
}

.c65 {
	text-decoration-skip-ink: none;
	-webkit-text-decoration-skip: none;
	text-decoration: underline
}

.c72 {
	background-color: #ffffff;
	max-width: 468pt;
	padding: 72pt 72pt 72pt 72pt
}

.c14 {
	font-family: "Helvetica Neue";
	color: #e69138;
	font-weight: 700
}

.c13 {
	color: inherit;
	text-decoration: inherit
}

.c62 {
	font-size: 12pt;
	color: #232323
}

.c36 {
	margin-left: 36pt;
	padding-left: 0pt
}

.c70 {
	padding: 0;
	margin: 0
}

.c25 {
	font-weight: 400;
	font-family: "Helvetica Neue"
}

.c46 {
	color: #b7b7b7;
	font-size: 9pt
}

.c49 {
	height: 26pt
}

.c31 {
	height: 15pt
}

.c29 {
	height: 11pt
}

.c73 {
	color: #e69138
}

.c71 {
	height: 56pt
}

.c68 {
	height: 16pt
}

.c45 {
	background-color: #d9d9d9
}

.c30 {
	height: 20pt
}

.c57 {
	font-family: "Helvetica Neue"
}

.c56 {
	font-weight: 700
}

.c42 {
	background-color: #f3f3f3
}

.title {
	padding-top: 0pt;
	color: #000000;
	font-size: 26pt;
	padding-bottom: 3pt;
	font-family: "Arial";
	line-height: 1.15;
	page-break-after: avoid;
	orphans: 2;
	widows: 2;
	text-align: left
}

.subtitle {
	padding-top: 0pt;
	color: #666666;
	font-size: 15pt;
	padding-bottom: 16pt;
	font-family: "Arial";
	line-height: 1.15;
	page-break-after: avoid;
	orphans: 2;
	widows: 2;
	text-align: left
}

li {
	color: #000000;
	font-size: 11pt;
	font-family: "Arial"
}

p {
	margin: 0;
	color: #000000;
	font-size: 11pt;
	font-family: "Arial"
}

h1 {
	padding-top: 20pt;
	color: #ff9900;
	font-size: 20pt;
	padding-bottom: 6pt;
	font-family: "Arial";
	line-height: 1.15;
	page-break-after: avoid;
	orphans: 2;
	widows: 2;
	text-align: left
}

h2 {
	padding-top: 18pt;
	color: #ff9900;
	font-size: 16pt;
	padding-bottom: 6pt;
	font-family: "Arial";
	line-height: 1.15;
	page-break-after: avoid;
	orphans: 2;
	widows: 2;
	text-align: left
}

h3 {
	padding-top: 16pt;
	color: #434343;
	font-size: 14pt;
	padding-bottom: 4pt;
	font-family: "Arial";
	line-height: 1.15;
	page-break-after: avoid;
	orphans: 2;
	widows: 2;
	text-align: left
}

h4 {
	padding-top: 14pt;
	color: #666666;
	font-size: 12pt;
	padding-bottom: 4pt;
	font-family: "Arial";
	line-height: 1.15;
	page-break-after: avoid;
	orphans: 2;
	widows: 2;
	text-align: left
}

h5 {
	padding-top: 12pt;
	color: #666666;
	font-size: 11pt;
	padding-bottom: 4pt;
	font-family: "Arial";
	line-height: 1.15;
	page-break-after: avoid;
	orphans: 2;
	widows: 2;
	text-align: left
}

h6 {
	padding-top: 12pt;
	color: #666666;
	font-size: 11pt;
	padding-bottom: 4pt;
	font-family: "Arial";
	line-height: 1.15;
	page-break-after: avoid;
	font-style: italic;
	orphans: 2;
	widows: 2;
	text-align: left
}